/* Colors */
:root {
--brand: #0c8090;
--fg:#011529;
--fg-2:#123;
--fg-3:#001119;
--dark:#000510;
--light:#fff;
--bg:#fff;
--bg-1:#f4f7fa;
--bg-2:#e3e6e9;
--bg-3:#e2e6ea;
--comment:CadetBlue;
--highlight:Coral;
--focus:PaleGoldenrod;
--tone-1:Turquoise;
--tone-2:Aquamarine;
--neutral:#607080;
--layout-spacing: max(9vh, 4rem);font-size: 1.3em;font-size: clamp(1.2rem, 0.7153rem + 1.6368vw, 2rem);}

::selection{background-color:var(--tone-2); color:var(--dark);}

a[href]{text-decoration: none;}
*,*::before,*::after {box-sizing: border-box; margin:0;}

body {display: flex;flex-direction: column;min-height: 100vh;padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;font-family: system-ui, sans-serif;color: #222;background-color:var(--bg); color:var(--fg); margin:0 auto;}
body > * {font-family: system-ui, sans-serif;font-weight: 300;width: 100%;line-height: 1.75;max-width: 70ch;margin-left: auto;margin-right: auto;}

.home svg{height:4em; width: 4em;}

main {margin-top: var(--layout-spacing);}

footer {max-width: 100%;margin-top: auto;padding-top: var(--layout-spacing);}

nav{display:grid;  width: 100%;     grid-template-columns: 1fr 1fr 1fr 1fr;align-content: center;justify-content: center;justify-items: center; grid-auto-flow: column;  place-content:center;align-items:center;}
nav a{width:100%;text-align:center;padding:1em; color: var(--brand);}
nav .active{box-shadow:  0  .4em 0 -.2em var(--tone-1); color: currentcolor;}
nav .home{padding:0; text-align: left;     place-self: start;}

body > header  {width: 100%; display: grid; height:3em;align-items: center;grid-template-columns: fit-content(10ch) minmax(min(50vw, 30ch), 1fr);}
time{color: var(--neutral);}
:is(h1, h2, h3) {line-height: 1;}
article a.direct-link{ vertical-align:bottom;font-weight:300; font-style:normal; font-size:1rem; width: 2rem; height:2rem; line-height:2rem; display:inline-block;  text-align:center; }
article header h1{margin-bottom:.5em;}
article h1{font-size: 5rem;font-weight:800; }
article :is(h1,h2,h3,h4){position:relative}
article img{display:block;max-width: 100%; margin-left:  auto; width: auto; height: auto; margin-right:auto;}
article * + * {margin-top: 2em;}
article ul{list-style: none; padding:0; margin-top:.5em;}
article ul > li{position:relative; padding-left: 2em; margin: .5em 0  0  0 ;}
article ul > li:before{content:""; position:absolute;  top:.25em; left:0;display:block; width:1em; height:1em; border-radius: 1em; box-shadow: inset 0 0 0 .15em var(--tone-1);}
article{ max-width: 50em;margin:0 auto;}
article p a[href]{text-decoration:underline;text-decoration-color: var(--tone-1);text-decoration-thickness: .1em;text-underline-offset: .12em;text-decoration-skip-ink: all;}
article  a.tag{display:inline-block; border-radius: .333em;  box-shadow: 0 0 0 .05em  var(--tone-1); padding: .333em .77em; margin: 0 0 0 .4em  ; color: var(--brand);}
article  a.tag{font-size:.8em;}
article > blockquote{padding: 1em; font-size: 1.5em; line-height:1.3em; font-style:italic; background-color: var(--bg-2); color:var(--fg-2)}
/*anchor links*/
a.direct-link{color:transparent; overflow:hidden; text-indent:-10000em;transition: transform .2s ease;  transform:translate(.5rem,0);   background-repeat:no-repeat;background-size: 60%; opacity:0;background-repeat:none; background-position: 50% 50%; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' fill='none' stroke='%23567' stroke-linecap='round'%3E%3Cpath transform='rotate(-45deg)' transform-origin='50%25 50%25' d='M5.5 4.5Q4.5 3.4 3 4.6L1.5 6A1 1 0 003.5 8.5L4 8M4.3 6.4Q5.3 7.3 6.4 6.2L8.6 4A1 1 0 006 2L5.5 2.5' /%3E%3C/svg%3E");}
h2:hover a.direct-link{opacity:.5; transform:none}
h2 a.direct-link:hover{opacity:1; box-shadow: 0 0 0 .2em var(--bg-2);}
h2:target{box-shadow: inset 0 .2rem var(--highlight);}
h2:target::after,h3:target::after{content:" â†"; color: var(--highlight);}
.docnav { display: grid; grid-template-columns: 1fr 1fr; padding: 1em 0;}
.docnav a{display:grid; box-shadow: inset 0 0 0 .15em var(--bg-2); padding: 1.5em; border-radius:.5em;}

a[href]{  color: var(--brand); outline:none;}


.post-tag[href]{display:inline-block;padding:.5em 1em; border-radius: .4em;margin:.51em; color: var(--light); background-color: var(--brand);}
.postlist a{text-align:left;margin:.5em 0;border-radius:.7em;  display: grid;font-weight:600;grid-auto-flow: column; padding:1.5em clamp(1rem, 7%, 5rem);}
.postlist a:hover, .docnav a:hover{background-color: var(--tone-1); color:var(--dark); }
.postlist time{text-align:right; height: 100%; line-height:2em;color:  var(--neutral);font-weight:300; font-size:.8em;}
.postlist a:hover time {color: var(--light);}

.postlist a, .docnav a{box-shadow:  0 .1em .4em var(--bg-2);}
footer{text-align:center;color: var(--neutral);margin:2em 0;  padding-top:0;  border-radius:1em; }
footer > section{ margin:1em auto;display:grid; grid-auto-flow: row; grid-template-rows: auto; grid-template-columns: 1fr 1fr  1fr  1fr   1fr ;align-content: center;}
footer a[href]{color:var(--neutral);border-radius: .4em; min-width: 4em; min-height:4em; position:relative; text-transform: uppercase; letter-spacing:.026em;  display:grid;   justify-content: center; align-content: center;text-align: center} 
footer > section a svg{transform:translate(0,1em); stroke-linejoin:round;margin:1em auto; transition: transform .15s ease; stroke-opacity:.75;}
footer a b {color:var(--fg); font-size: .7em;white-space:nowrap;transition: transform .2s cubic-bezier(.5,.3,.2,1); }
footer a:hover b {opacity:1; transform: translate(0,-2.5em)   ;}
footer a:not(:hover) b{opacity:0; transform: translate(0,-2em)  }
footer a:hover{color: var(--fg); box-shadow: inset 0 0 0 .2em var(--tone-1); }
footer > section a:hover svg{transform:translate(0,.5em) scale(2);   color: var(--bg-2); fill:var(--bg); fill-opacity:1;stroke-opacity:1;}
.button{padding: 1.2em 2em; border-radius:.3em; display:inline-block; margin:1em; box-shadow: 0 0 0 .1em}

/*inline code fix */ :not(pre) > code { padding: .1em;border-radius: .3em;}

p > code{font-size:.8em;user-select:all; padding: .3em .7em; white-space:nowrap;background-color:transparent;  color:var(--fg);box-shadow: inset 0 0 0 .1em var(--bg-2);  }

@media(prefers-color-scheme:light){}
@media(prefers-color-scheme:dark){
:root{
--brand: Aquamarine;
--bg:#111f2a;
--bg-2:#333e47;
--bg-3:#000818;
--fg:#e2e6ec;
--fg-2:#fff;
--fg-3:#f5f5f5;
--comment:CadetBlue;
--highlight:Coral;
--focus:PaleGoldenrod;
--tone-1:LightSeaGreen;
--tone-2:Turquoise;
--neutral:#abc;
}
.postlist a, .docnav a{box-shadow:  0 .06em .4em #081220;}
}

@media (max-width:40em){
footer a b{display:none}
article h1{font-size:14vw;}
footer > section a:hover svg{stroke-opacity:1; color:var(--fg);}
footer > section a svg{margin:0 auto; transform:none !important;}footer section {grid-auto-flow: row;  grid-template-columns: 1fr  1fr   1fr 1fr  1fr}footer a:not(:hover) span{opacity:1}}


@media (max-width:25em){ footer section{grid-template-columns:   1fr  1fr }}
@media (min-width:85em){ footer section{grid-template-columns:   1fr  1fr  1fr  1fr  1fr   1fr  1fr  1fr   1fr   1fr}}

.namespace { opacity: .7;}
.token.property { color: #f4bf75;}
.token.tag { color: #66d9ef;} 
.token.string { color: #a1efe4;} 
.token.selector {  color: #ae81ff;}
.token.attr-name { color: #fd971f;} 
.token.entity,.token.url, .language-css .token.string,
.style .token.string {  color: #a1efe4;}
.token.statement,.token.regex, .token.atrule { color: #a1efe4;}
.token.placeholder,.token.variable {color: #66d9ef;} 
.token.important {color: #f92672;font-weight: bold;} 
.token.entity {cursor: help;} 
pre > code.highlight {outline:.4em solid red;outline-offset: .4em;} 
.highlight-line-add{background-color: var(--bg-2);}
.highlight-line-remove{background-color: #000;}
pre{overflow:auto;line-height:2em;direction: ltr;text-align: left;white-space: pre;word-spacing: normal;word-break: normal;tab-size: 2;hyphens: none;padding:2em;font-size:.75em;background-color:var(--dark);color:var(--light); border-radius:.66em;}
pre,code{ font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Dejavu Mono", "Liberation Mono", "Courier New",    monospace;}
code{word-break:break-all; }
.highlight-line{display:block;text-decoration:none;color:inherit;padding: 1em;}
mark{background-color:var(--focus)}
.highlight-line:empty:before{content:" "}
.highlight-line-add{background-color:var(--fg-2)}
.highlight-line-remove{color:var(--comment);background-color:var(--fg-3)}
.token.comment,.token.prolog,.token.doctype,.token.cdata{color:var(--comment)}
.token.attr-value,.token.keyword,.token.control,.token.directive,.token.unit{color:var(--tone-2)}
.token.null,.token.operator,.token.boolean,.token.number{color:var(--highlight)}
.token.punctuation{color:var(--neutral)}