---
layout: layouts/base.njk
templateClass: homepage
---
    <meta property="og:image" content="https://andyfitzsimon.com/img/og-default.jpg" />
    <meta property="og:image:secure_url" content="https://andyfitzsimon.com/img/og-default.jpg" />
<style>.homepage{padding:0; max-width:100vw;}</style>
<div style="text-align:center;">
{{ content | safe }}
</div>