---
layout: layouts/base.njk
templateClass: homepage
---
    <meta property="og:image" content="https://andyfitzsimon.com/img/og-default.jpg" />
    <meta property="og:image:secure_url" content="https://andyfitzsimon.com/img/og-default.jpg" />
<style>.homepage{padding:0; max-width:100vw;}</style>
<div style="text-align:center;">
{{ content | safe }}
</div>

<script>
  // vanilla JS on scroll detection
const scrollElements=document.querySelectorAll(".scroll"),elementInView=(e,l=1)=>{return e.getBoundingClientRect().top<=(window.innerHeight||document.documentElement.clientHeight)/l},elementOutofView=e=>{return e.getBoundingClientRect().top>(window.innerHeight||document.documentElement.clientHeight)},displayScrollElement=e=>{e.classList.add("scrolled")},hideScrollElement=e=>{e.classList.remove("scrolled")},handleScrollAnimation=()=>{scrollElements.forEach(e=>{elementInView(e,1.25)?displayScrollElement(e):elementOutofView(e)&&hideScrollElement(e)})};window.addEventListener("scroll",()=>{scrollElements.forEach(e=>{elementInView(e,1.25)?displayScrollElement(e):elementOutofView(e)&&hideScrollElement(e)})});
</script>